
#portfolio {
    display: flex;
    margin-left: 55px;
    margin-top: 150px;
  }
  .card:hover {

    border: 2px rgb(20, 8, 131) solid;
    box-shadow: 7px 7px 7px 7px rgb(87, 126, 158);
    /* transform: scale(1.5); */
  }